
/* Responsiveness file */

@media(max-width: 900px){
    #page-home{
        background-position-x: 70vw;
    }

    #page-home .content{
        text-align: center;
        align-items: center;
    }

    #page-home header a{
        position: absolute;
        
        bottom: 50px;

        left: 50%;

        transform: translateX(-50%);
    }

    #page-home main{
        align-items: center;
    }

    /* Create Point*/

    #page-create-point .field-group{
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field{
        margin-left: 0;
    }

    /* Search Results */

    #page-search-results main .cards{
        grid-template-columns: 1fr;
    }

    #page-search-results main img{
        height: 250px;
    }

    
}

@media(min-width: 1700px){
    #page-home{
        background-position: 40vw;
    }
}

@media(max-height: 760px){
    #page-home{
        background-position-y: 200px;
    }
}